@model IEnumerable<MediaCenterControl.Models.Damage>

@{
    ViewBag.Title = "Daljinsko upravljanje";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Daljinsko upravljanje</h2>

<div>
    @Html.ActionLink("Gore", "Up")
</div>
